/* HamburgerMenu.css */
.menuIcon {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(119, 202, 133, 0.2);
}

.bar {
  margin: 3px;
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 1.5px;

  transition: margin 0.3s, transform 0.3s;

  /* same as above but with prefixes added */
  -webkit-transition: margin 0.3s, -webkit-transform 0.3s;
  transition: margin 0.3s, -webkit-transform 0.3s;
  -o-transition: margin 0.3s, transform 0.3s;
  transition: margin 0.3s, transform 0.3s;
  transition: margin 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

/* All elements with class menuIcon but aren't class "close"  which hovering*/
.menuIcon:not(.close):hover {
  padding: 6px 10px;
}

/* All bar elements inside menuIcon but aren't class "close"  which hovering */
.menuIcon:not(.close):hover .bar {
  margin: 5px 3px;
}

.menuIcon.close .bar:first-child {
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

.menuIcon.close .bar:nth-child(2) {
  opacity: 0;
}

.menuIcon.close .bar:last-child {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

.menuOpen {
  display: block;
  top: 100%; /* Slide down to cover the body */
  max-height: 100vh; /* Expand to cover the entire viewport */
}

.menuClosed {
  display: none;
}

.menuClosed,
.menuOpen {
  position: absolute;
  top: -100%; /* Initially off-screen */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, top 0.3s ease-in-out;
}
